@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
    
    /* background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;*/
    font-size: 1.7em;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

section {
    display: inline-block;
}

.logo {
    height: 84px;
    width: 170px;
    position: relative;
    left: 0;
    top: 0;
    padding-bottom: 38px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    margin-left: 5px;
    margin-top: -12px;
}

.featurette-divider {
    border: solid 2px rgba(0, 0, 0, 0.6) !important;
}

#commande-container {
    text-align: center;
}

#commande-container #commande-img {
    height: 150px;
    width: 150px;
    position: relative;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
}


.affix {
    top: 0;
    width: 100%;
}

.affix+.container-fluid {
    padding-top: 0px;
}



.navbar-wrapper>.container {
    padding-right: 0;
    padding-left: 0;
    top: 0;
    width: 100%;
}

.navbar-wrapper .navbar {
    width: 100% !important;
}

.navbar-inverse {
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
    border-radius: 0;
}

.navbar-inverse .nav>li>a {
    color: #FFFFFF;
}

.navbar-inverse .nav>li>a:hover {
    background: none;
}

.navbar-brand a {
    color: #FFFFFF;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.logo-service {
    margin-top: 50px;
    display: inline;
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.Confiance{
    
    margin: 0 auto;
}


.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }