@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    font-family: 'Lato', sans-serif;
    background-color: dimgray;
    /* background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;*/
    font-size: 1.4em;
    width: 100%;
    margin: 0%;
}

.logo {
    height: 84px;
    width: 170px;
    position: relative;
    left: 0;
    top: 0;
    padding-bottom: 38px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    margin-left: 5px;
    margin-top: -12px;
}

#commande-container {
    text-align: center;
}

#commande-container #commande-img {
    height: 150px;
    width: 150px;
    position: relative;
    vertical-align: middle;
}


/* Note: Try to remove the following lines to see the effect of CSS positioning */

.affix {
    top: 0;
    width: 100%;
}

.affix+.container-fluid {
    padding-top: 0px;
}


/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper>.container {
    padding-right: 0;
    padding-left: 0;
    width: inherit;
}

.navbar-wrapper .navbar {
    width: 100% !important;
}

.navbar-inverse {
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
    border-radius: 0;
}

.navbar-inverse .nav>li>a {
    color: #FFFFFF;
}

.navbar-inverse .nav>li>a:hover {
    background: none;
}

.navbar-brand a {
    color: #FFFFFF;
}

.logo-service {
    height: 50px;
    width: 50px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
