@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    font-family: 'Lato', sans-serif;
    background: url("../img/Fond.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
}

.logo {
    height: 35px;
    width: 150px;
    left: 0;
    top: 0;
    padding-bottom: 10px;
    vertical-align: middle;
    text-align: center;
    margin: auto;
}


/* use navbar-wrapper to wrap navigation bar, the purpose is to overlay navigation bar above slider */

